@charset "UTF-8";

:root {
    /* --- Layout --- */
    --l_maxWidth : 1440px ;

    /* --- Typography --- */
    --f_fontSize : 18px ;
    --f_lineHeight : 1.5 ;
    --f_fontWeight : 400 ;
    --f_fontStyle : normal ;

    /* --- Colors --- */
    --c_white : #FFFFFF;      /* hsl(0, 0%, 100%) */
    --c_black : #121212;      /* hsl(0, 0%, 7%) */

    --c_purple500 : #7B5CF2;  /* hsl(256, 67%, 59%) */
    --c_purple100 : #E0D8FF;  /* hsl(254, 88%, 90%) */
    --c_yellow500 : #FFCC45;  /* hsl(39, 100%, 71%) */
    --c_yellow100 : #F9EEE3;  /* hsl(31, 66%, 93%) */
}

* {
    margin: 0;
    padding: 0;

    outline: 1px dashed red;
}

html {
    font-size: var(--f_fontSize);
}

figure {
    display : grid ;
    place-items: center ;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
    object-position: center;
}

/* --- Body --- */
.Body {
    max-width: var(--l_maxWidth);
    margin-inline: auto;
    
    display: grid;
    grid : 128px auto 25dvh / repeat(12, 1fr);

    font-size : clamp( 100% , .75rem + .75dvw, 25px );
    line-height: var(--f_lineHeight);
    font-weight: var(--f_fontWeight);
    font-style: var(--f_fontStyle);
}


/* --- Header --- */
.Header {
   grid-row : 1 / 2 ;
   grid-column: 1 / 13 ; 
}

/* --- Aside --- */
.Aside {
    
}

/* --- Main --- */
.Main {
    width: 100%;

    grid-row : 2 / 3 ;
    grid-column: 1 / 13 ; 
    
    & .section {
        width: inherit ;
        
        & .article {
            display: grid;
            grid : auto / repeat( auto-fit , minmax( 345px , 1fr ) );
            grid-gap : .75rem ; 

            
        }
    }
}



/* --- Footer --- */
.Footer {
    grid-row : 3 / 4 ;
    grid-column: 1 / 13 ; 
}


/* --- MediaQuery --- */
@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .Body {
        grid-template-columns: repeat(8, 1fr);

    }
}

@media ( 768px <= width <= 1023px) {
    .Body {
        grid-template-columns: repeat(6, 1fr);

    }
}

@media ( max-width: 767px ) {
    .Body {
        grid-template-columns: repeat(4, 1fr);

    }
}